<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/fonts/fonts.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">
    <style>
        .to_basket {
            margin: 0 auto;
            color: #808000;

        }
        .formSearch {
            box-sizing: border-box;
            position: relative;
            width: 300px;
            margin: 0 auto;
        }
        .buttonSearch {
            position: absolute;
            top: 0;
            right: 0px;
            width: 42px;
            height: 42px;
            border: none;
            background: #7BA7AB;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }
        .inputSearch {
            width: 100%;
            height: 42px;
            padding-left: 10px;
            border: 2px solid #7BA7AB;
            border-radius: 5px;
            outline: none;
            background: #F9F0DA;
            color: #9E9C9C;
        }
        .table_blur {
            background: #2d303a;
            color: #F0E68C;
            border-color: #F0E68C;
            border-collapse: collapse;
            text-align: center;
            margin-left:auto;
            margin-right:auto;
            margin-top: 30px;
        }
        td, th {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid #FFD700; /* Параметры рамки */
        }

    </style>
</head>
<body>
<header class="menu"  id="menu">
    <div class="wrapper">

        <h1 class="logo">Retro<span>*</span></h1>
        <nav class="header-nav">
            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox">
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>
                <ul class="navigation menu__box" >
                    <p class="menu__logo">Portfolio<span>*</span></p>
                    <li><a class="active menu__item" href="/rate">Главная</a></li>
                    <span class="list">&middot;</span>
                    <li><a class="menu__item" href="#camera">Камеры</a></li>
                    <span class="list">&middot;</span>
                    <li><a class="menu__item" href="#ps">Приставки</a></li>
                    <span class="list">&middot;</span>
                    <li><a class="menu__item"  href="#phone">Телефоны</a></li>
                    <span class="list">&middot;</span>
                    <li><a class="menu__item" href="#others">Прочее</a></li>
                </ul>
            </div>
        </nav>
    </div>
    </nav>
    </div>
</header>
<main>
    <section class="slider-block" id='camera'>
        <div class="wrapper">
            <h2>Наши камеры</h2>
            <h2> </h2>
            <p class="get-quote__text" >Если что-то захотите заказать, сначала заполните форму. </p>
            <p class="get-quote__text" ></p>
            <div  class="div_padding">
                <form action="#" th:action="@{/buying_search_camera}" method="post" class="formSearch">
                    <input th:field="*{cameraEntity.nameca}" placeholder="Поиск по имени" type="search" class="inputSearch">
                    <button type="submit" class="buttonSearch"></button>
                </form>

               <!-- <div class="get-quote_grid-container">-->
               <!-- <div class="get-quote_grid-container">-->
                    <table class="table_blur">
                        <tr>
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Производитель</th>
                        </tr>
                        <tr th:each = "cameraEntity : ${cameraList}">
                            <td th:text = "${cameraEntity.nameca}"></td>
                            <td th:text = "${cameraEntity.costca}"></td>
                            <td th:text = "${cameraEntity.producerca}"></td>
                        </tr>
                    </table>
                <h2> </h2>
                    <a class="to_basket" href="#fill_form">В корзину</a>
                <div class="portfolio__grid-container" id="portfolio_images">
                    <img src="static/images/Camera3.png">
                    <img src="static/images/Camera2.jpg">
                    <img src="static/images/Camera4.png">
                </div>
                    <!--<span class="list">&middot;</span>-->
                    <!--<p><li><a class="to_basket" href="#fill_form">To basket</a></li></p>-->
                    <!--<p><button href="#fill_form" type="submit" class="get-quote__button" id="cam_order">To basket</button>-->
                    <!--<p class="get-quote__text" ></p>
                        <form action="#" method="post" th:action = "@{/buyingPost}" th:object = "${accountsEntity}" class="get-quote__form" id="formmm" >
                            <input th:field="*{namepr}" type="text"  class="form__element"   placeholder="Name of product (Required)" id="namepr" required>
                            <input th:field="*{costpr}" type="text"  class="form__element"  placeholder="Cost (Required)" id="costpr" required>
                            <input th:field="*{producer}" type="text"  class="form__element"   placeholder="Producer (Required)" id="producer" required>
                            <input th:field="*{namecon}" type="text"  class="form__element"   placeholder="Name of consumer (Required)" id="namecon" required>
                            <input th:field="*{emailcon}" type="text"  class="form__element"  placeholder="Consumer's email (Required)" id="emailcon" required>
                            <input th:field="*{addresscon}" type="text"  class="form__element"   placeholder="Consumer's address (Required)" id="addresscon" required>
                            <input th:field="*{phonecon}" type="text"  class="form__element"   placeholder="Consumer's phone (Required)" id="phonecon" required>-->
                            <!--<input class="form__element" type="text" name="subject" placeholder="Suggestions" id="subject" required>-->
                            <!-- action="#" method="post" th:action = "@{/rate}" th:object = "${suggestionsEntity}"-->
                            <!--th:field="*{name}"
                            th:field="*{email}"
                            th:field="*{phone}"
                            th:field = "*{rate}"-->

                            <!-- name="name"
                             name="email"
                             name="tel"-->
                            <!--<p class="get-quote__list2">Rate</p>
                            <select >
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>-->
                            <!--<p><button type="submit" class="get-quote__button" id="btn">Submit</button> <button type="reset" class="get-quote__button" id="rst">Reset</button></p>

                    </form>-->

                    <!--<div class="contact">
                        <h3 class="contact_title">Contact information</h3>
                        <ul class="list_contact">
                            <li><img src="static/images/ico-location.png"><a class="icon_name_style">Elm St. 14/05 Lost City</a></li>
                            <li><img src="static/images/ico-phone.png"></span><a href="tel:035283318635" class="icon_name_style">03528 331 86 35</a></li>
                            <li><img src="static/images/ico-mail.png"></span><a href="mail:info@portfolio.com" class="icon_name_style">info@portfolio.com</a></li>
                        </ul>
                    </div>-->
                    </div>
                    <!--</div>-->
                </div>
            </div>

            <!--<img class="slider-block_arrows left-arrow "src="templates/images/left.png">
            <div class="slider-content item-container" id='slides'>
                <div class="slide slide_red item slide_active" id="slide-red">
                    <img src="templates/images/vertical_iphone.png" class="slider-block-iphones shadow vert-iphone  slide_red" onclick="clickOnVertPhone()">
                    <img src="templates/images/iPhone Vertical.png" class="slider-block-iphones shadow vert-iphone slide_red display-none" onclick="clickOnVertPhone()">
                    <img src="templates/images/horizontal_iphone.png" class="slider-block-iphones shadow horiz-iphone  slide_red" onclick="clickOnHorizPhone()">
                    <img src="templates/images/iPhone Horizontal.png" class="slider-block-iphones shadow horiz-iphone display-none slide_red" onclick="clickOnHorizPhone()">
                </div>
                <div class="slide item slide_blue" id="slide-blue">
                    <img src="templates/images/slide-2.png">
                </div>
            </div>
            <img class="slider-block_arrows right-arrow" src="templates/images/right.png">-->
        </div>
    </section>
    <section class="services-block" id="ps">
        <div class ="wrapper">
                <h2>Приставки</h2>
               <!-- <p>Some interesting things . </p>-->
               <!-- <div  class="div_padding">-->
            <form action="#" th:action="@{/buying_search_play_station}" method="post" class="formSearch">
                <input th:field="*{playStationEntity.nameps}" placeholder="Поиск по имени" type="search" class="inputSearch">
                <button type="submit" class="buttonSearch"></button>
            </form>

                <table class="table_blur">
                    <tr>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Производитель</th>
                    </tr>
                    <tr th:each = "playStationEntity : ${playStationList}">
                        <td th:text = "${playStationEntity.nameps}"></td>
                        <td th:text = "${playStationEntity.costps}"></td>
                        <td th:text = "${playStationEntity.producerps}"></td>
                    </tr>
                </table>
               <!-- <span class="list">&middot;</span>
                <p><li><a class="to_basket" href="#fill_form">To basket</a></li></p>-->
            <a class="to_basket" href="#fill_form">В корзину</a>
            <div class="portfolio__grid-container" id="portfolio_images_ps">
                <img src="static/images/GameBoy1.png">
                <img src="static/images/GameBoy2.png">
                <img src="static/images/Nintendo1.png">
                <img src="static/images/Nintendo2.png">
            </div>
                <!--<div class="services-container">
                    <div class="grid-item">
                        <img src="templates/images/pen.png">
                        <h3>Custom Design</h3>
                        <p>Mind-blowing design with tons of nice little things</p>
                    </div>
                    <div class="grid-item">
                        <img src="templates/images/bulb.png">
                        <h3>Inovative Ideas</h3>
                        <p>We will try to find what you need for you</p>
                    </div>
                    <div class="grid-item">
                        <img src="templates/images/heart.png">
                        <h3>Love Is The Answer</h3>
                        <p>Heart-to-heart communication with consumers </p>
                    </div>
                    <div class="grid-item">
                        <img src="templates/images/phone.png">
                        <h3>Responsive Layout</h3>
                        <p>Suitable for any existing device </p>
                    </div>
                    <div class="grid-item">
                        <img src="templates/images/bubble.png">
                        <h3>24 / 7 Support</h3>
                        <p>Constant communication with the customer </p>
                    </div>
                    <div class="grid-item">
                        <img src="templates/images/star.png">
                        <h3>Feel Like A Star</h3>
                        <p>The newest and best for your customers </p>
                    </div>
                </div>
            </div>-->

        </div>
    </section>
    </div>
    <section class="portfolio" id="phone">
        <div class="wrapper">
            <div class="portfolio_content">
                <h2 style="letter-spacing: 0.013px;">Телефоны</h2>
                <form action="#" th:action="@{/buying_search_phone}" method="post" class="formSearch">
                    <input th:field="*{phoneEntity.nameph}" placeholder="Поиск по имени" type="search" class="inputSearch">
                    <button type="submit" class="buttonSearch"></button>
                </form>



                    <table class="table_blur">
                        <tr>
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Производитель</th>
                        </tr>
                        <tr th:each = "phoneEntity : ${phoneList}">
                            <td th:text = "${phoneEntity.nameph}"></td>
                            <td th:text = "${phoneEntity.costph}"></td>
                            <td th:text = "${phoneEntity.producerph}"></td>
                        </tr>
                    </table>
                <!--<span class="list">&middot;</span>
                <p><li><a class="to_basket" href="#fill_form">To basket</a></li></p>-->
                <a class="to_basket" href="#fill_form">В корзину</a>
                <div class="portfolio__grid-container" id="portfolio_images_ph">
                    <img src="static/images/Phone1.png">
                    <img src="static/images/Phone4.png">
                    <img src="static/images/Phone5.png">

                </div>
                <!--<p class="portfolio__text">Look at the pictures and choose the one you like the best</p>
                <div class="portfolio__buttons" id="portfolio__buttons">
                    <button class="button_active">All</button>
                    <button>Camera</button>
                    <button>PS</button>
                    <button>Vinyl</button>
                </div>
                <div class="layout-4-column">
                    <div class="portfolio__grid-container" id="portfolio_images">
                        <img src="templates/images/Camera3.png">
                        <img src="templates/images/GameBoy1.png">
                        <img src="templates/images/GameBoy2.png">
                        <img src="templates/images/Nintendo1.png">
                        <img src="templates/images/Nintendo2.png">
                        <img src="templates/images/Phone1.png">
                        <img src="templates/images/Recorder4.png">
                        <img src="templates/images/Recorder3.png">
                        <img src="templates/images/Recorder1.png">
                        <img src="templates/images/Smoke3.png">
                        <img src="templates/images/Vinul1.png">
                        <img src="templates/images/Vinyl2.png">
                    </div>
                </div>-->

            </div>
        </div>
    </section>
    <section class="about-us" id="others">
        <div class="wrapper">
            <h2>Прочие товары</h2>
            <form action="#" th:action="@{/buying_search_other}" method="post" class="formSearch">
                <input th:field="*{otherEntity.nameot}" placeholder="Поиск по имени" type="search" class="inputSearch">
                <button type="submit" class="buttonSearch"></button>
            </form>



                <table class="table_blur">
                    <tr>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Производитель</th>
                    </tr>
                    <tr th:each = "otherEntity : ${otherList}">
                        <td th:text = "${otherEntity.nameot}"></td>
                        <td th:text = "${otherEntity.costot}"></td>
                        <td th:text = "${otherEntity.producerot}"></td>
                    </tr>
                </table>
            <!--<span class="list">&middot;</span>
            <p><li><a class="to_basket" href="#fill_form">To basket</a></li></p>-->
            <a class="to_basket" href="#fill_form">В корзину</a>
            <div class="portfolio__grid-container" id="portfolio_images_other">
                <img src="static/images/Recorder4.png">
                <img src="static/images/Recorder3.png">
                <img src="static/images/Smoke3.png">
                <img src="static/images/Vinul1.png">

            </div>
            <!--<div class="about-us_container">
                <h2>About Us</h2>
                <p class="about-us__text">Creative team and interesting contests </p>
                <div class="layot-3-column">
                    <div class="about-us__grid-container">
                        <div class="person">
                            <img src="templates/images/vadim.jpg" alt="Vadim Visotsky">
                            <h3 class="about-us__text_name">Vadim Visotsky</h3>
                            <p class="about-us__description" style="letter-spacing: -0.15px;">"Cogito ergo sum"</p>

                        </div>
                        <div class="social-media__icons">
                            <a href="#"><img src="templates/images/facebook.png"></a></li>
                            <a href="#"><img src="templates/images/google+.png"></a></li>
                            <a href="#"><img src="templates/images/twitter.png"></a></li>
                            <a href="#"><img src="templates/images/linkedin.png"></a></li>
                        </div>
                        <div class="person">
                            <img src="templates/images/danik.jpg" alt="Daniil Benko">
                            <h3 class="about-us__text_name">Danil Benko</h3>
                            <p class="about-us__description" style="letter-spacing: 0.12px;">Memento mori</p>
                        </div>
                        <div class="social-media__icons">
                            <a href="#"><img src="templates/images/facebook.png"></a></li>
                            <a href="#"><img src="templates/images/google+.png"></a></li>
                            <a href="#"><img src="templates/images/twitter.png"></a></li>
                            <a href="#"><img src="templates/images/linkedin.png"></a></li>
                        </div>
                        <div class="person">
                            <img src="templates/images/george.jpg" alt="Gorelik George">
                            <h3 class="about-us__text_name" style="letter-spacing: 0.1px">Gorelik George</h3>
                            <p class="about-us__description" style="letter-spacing: 0.07px;">In vino veritas</p>

                        </div>
                        <div class="social-media__icons">
                            <a href="#"><img src="templates/images/facebook.png"></a></li>
                            <a href="#"><img src="templates/images/google+.png"></a></li>
                            <a href="#"><img src="templates/images/twitter.png"></a></li>
                            <a href="#"><img src="templates/images/linkedin.png"></a></li>
                        </div>
                    </div>
                </div>
            </div>-->

        </div>
    </section>
    <section class="portfolio" id="fill_form">
        <div class="wrapper">
            <div class="portfolio_content">
                <h2 style="letter-spacing: 0.013px;">Заказ</h2>
                <p class="get-quote__text" ></p>
                <form action="#" method="post" th:action = "@{/buyingPost}" th:object = "${accountsEntity}" class="get-quote__form" id="formmm" >
                    <input th:field="*{namepr}" type="text"  class="form__element"   placeholder="Название продукта (Обязательно)" id="namepr" required>
                    <input th:field="*{costpr}" type="text"  class="form__element"  placeholder="Стоимость (Обязательно)" id="costpr" required>
                    <input th:field="*{producer}" type="text"  class="form__element"   placeholder="Поставщик (Обязательно)" id="producer" required>
                    <input th:field="*{namecon}" type="text"  class="form__element"   placeholder="Имя клиента (Обязательно)" id="namecon" required>
                    <input th:field="*{emailcon}" type="text"  class="form__element"  placeholder="Еmail клиента (Обязательно)" id="emailcon" required>
                    <input th:field="*{addresscon}" type="text"  class="form__element"   placeholder="Адрес клиента (Обязательно)" id="addresscon" required>
                    <input th:field="*{phonecon}" type="text"  class="form__element"   placeholder="Контактный номер клиента (Обязательно)" id="phonecon" required>
                    <p><button type="submit" class="get-quote__button" id="btn">Принять</button> <button type="reset" class="get-quote__button" id="rst">Очистить</button></p>



                <!--<table class="table_blur">
                    <tr>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Производитель</th>
                    </tr>
                    <tr th:each = "phoneEntity : ${phoneList}">
                        <td th:text = "${phoneEntity.nameph}"></td>
                        <td th:text = "${phoneEntity.costph}"></td>
                        <td th:text = "${phoneEntity.producerph}"></td>
                    </tr>
                </table>-->
                <!--<p class="portfolio__text">Look at the pictures and choose the one you like the best</p>
                <div class="portfolio__buttons" id="portfolio__buttons">
                    <button class="button_active">All</button>
                    <button>Camera</button>
                    <button>PS</button>
                    <button>Vinyl</button>
                </div>
                <div class="layout-4-column">
                    <div class="portfolio__grid-container" id="portfolio_images">
                        <img src="templates/images/Camera3.png">
                        <img src="templates/images/GameBoy1.png">
                        <img src="templates/images/GameBoy2.png">
                        <img src="templates/images/Nintendo1.png">
                        <img src="templates/images/Nintendo2.png">
                        <img src="templates/images/Phone1.png">
                        <img src="templates/images/Recorder4.png">
                        <img src="templates/images/Recorder3.png">
                        <img src="templates/images/Recorder1.png">
                        <img src="templates/images/Smoke3.png">
                        <img src="templates/images/Vinul1.png">
                        <img src="templates/images/Vinyl2.png">
                    </div>
                </div>-->
                </form>
            </div>
        </div>
    </section>
    <!--<section class="portfolio" id="others">
        <div class="wrapper">
            <div class="portfolio_content">
                <h2 style="letter-spacing: 0.013px;">Other interesting products</h2>
                &lt;!&ndash;<p class="portfolio__text">Look at the pictures and choose the one you like the best</p>
                <div class="portfolio__buttons" id="portfolio__buttons">
                    <button class="button_active">All</button>
                    <button>Camera</button>
                    <button>PS</button>
                    <button>Vinyl</button>
                </div>
                <div class="layout-4-column">
                    <div class="portfolio__grid-container" id="portfolio_images">
                        <img src="templates/images/Camera3.png">
                        <img src="templates/images/GameBoy1.png">
                        <img src="templates/images/GameBoy2.png">
                        <img src="templates/images/Nintendo1.png">
                        <img src="templates/images/Nintendo2.png">
                        <img src="templates/images/Phone1.png">
                        <img src="templates/images/Recorder4.png">
                        <img src="templates/images/Recorder3.png">
                        <img src="templates/images/Recorder1.png">
                        <img src="templates/images/Smoke3.png">
                        <img src="templates/images/Vinul1.png">
                        <img src="templates/images/Vinyl2.png">
                    </div>
                </div>&ndash;&gt;
            </div>
        </div>
    </section>-->

    <div id="message-block" class="display-none">
        <div id="message">
            <p>Письмо отправлено</p>
            <p><span id="text-subject"></span></p>
            <p><span id="text-describe"></span></p>
            <button id="close_btn">OK</button>
        </div>
    </div>
</main>


<footer class="footer">
    <div class="footer__wrapper">
        <span class="footer__span">&copy; Copyright 2021</span>
        <div class="social-media__icons">
            <a href="#"><img src="static/images/facebook.png"></a></li>
            <a href="#"><img src="static/images/google+.png"></a></li>
            <a href="#"><img src="static/images/twitter.png"></a></li>
            <a href="#"><img src="static/images/linkedin.png"></a></li>
        </div>
    </div>
</footer>
<script src="static/script.js"></script>
</body>
</html>